/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

/* Fraunces */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}

/* ATTRIBUTION STYLING */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


body {
  background-color: var(--Cream);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;


}

.flex-container {
  display: flex;
}

.sub-container-1 img {
  height: 450px;
  width: 300px;
  border-radius: 10px 0 0 10px;
}

.sub-container-2 {
  height: 450px;
  width: 250px;
  background-color: white;
  padding: 0 40px 0 30px;
  border-radius: 0 10px 10px 0;
}

.sub-container-2 h1 {
  font-family: "Fraunces", sans-serif;
  padding-right: 30px;
}


.sub-container-2 h3 {
  color: var(--Dark-grayish-blue);
  letter-spacing: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.sub-container-2 p {
  color: var(--Dark-grayish-blue);
  line-height: 1.7;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding-right: 20px;

}

.pricing-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 60px;
}

.pricing-container h1 {
  color: var(--Dark-cyan);
}

.pricing-container p {
  text-decoration: line-through;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

}


.btn-purchase {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: none;
  color: var(--White);
  background-color: var(--Dark-cyan);
  width: 250px;
  height: 50px;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 60px;

}
